* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body {
    background-color: beige;
}
 .header {
    
     padding: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color:black; 
     background-color: lightblue;
 }
 .header h1 {
    display: inline-block;
     font-size: 40px;
     padding-right: 20px;
     justify-content:space-between;
 }
 /*navigation bar styling */
 
.header div {
    padding-top: 20px;
    margin-right:25px;
    float:right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;


}
.header div ul {
    list-style-type:none ;
}

.header div ul li {
    display:inline-block;
    margin-left: 30px;
    
}
a{
    color:gray;
    text-decoration: rgb(68, 71, 75);
}

.about-me, .work , .contact-me {
    height:fit-content;
    margin-bottom: 20px;
    padding: 45px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:ivory;
    color:olive
}

.contact-me{
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    flex-direction: row;
    justify-items: flex-end;
    align-self: center;
    height: 175px;


}
.about-me, {
    display:flex;
    flex-wrap:wrap;
    
    justify-items:stretch;
    align-self: center;
    justify-content:space-around;

    
}


 .Horizeon-img, .Future-project-img {
     display:flex;
     flex-wrap: wrap;
     justify-content: center;
     justify-items: center;
     margin: 20px;
     max-width: 320px;

 }
 .Youssef-img{  
  border: 1px solid beige;
  border-radius: 3px;
  padding:4px;
  width: 65px;
  height: 65px;
 }
 .Background-img {
     max-height: 150px;
    width:2000px;

 }
 p {
    font-size: 18px;
}
.Horizeon-img {
    max-height: 900px;
    max-width: 650px;
} 
.about-me h2, .work h2, .contact-me h2 {
    margin-bottom: 20px;
    font-size: 40px;
  
}
.work h2 {
    margin-bottom: 10px;
    text-align: center;
}