* {
   
    padding: 0%;
    
}
body {
    background-color: beige;
}
 .header {
    justify-content: center;
    justify-self: center;
     padding: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color:olive; 
     background-color: lightblue;
 }
 .header h1 {
    display: inline-block;
     font-size: 40px;
     padding-right: 20px;
     display:inline-flexbox;
 }
 /*navigation bar styling */
 
.header div {
    display:inline-block;
    justify-content: center;
    padding-top: 20px;
    margin-right:25px;
    float:right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;


}
.header div ul {
    list-style-type:none ;
}

.header div ul li {
    display:inline-block;
    margin-left: 20px;
    
}
a{
    color:gray;
    text-decoration: rgb(68, 71, 75);
}

.about-me, .work , .contact-me {
    height:fit-content;
    margin-bottom: 20px;
    padding: 45px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:ivory;
    color:olive
}

.contact-me{
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    flex-direction: row;
    justify-items: flex-end;
    align-self: center;
    height: 175px;


}
.about-me {
    display:flex;
    flex-wrap:wrap;
    
    justify-items:stretch;
    align-self: center;
    justify-content:space-around;

    
}


 .Horizeon-img, .Future-project-img {
     display:flex;
     flex-wrap: wrap;
     justify-content: center;
     justify-items: center;
     margin: 20px;
     max-width: 320px;

 }
 
 

 
 p {
    font-size: 18px;
}
.Horizeon-img {
    max-height: 100%;
    max-width: 80%;
    align-self: center;
}
.movie-giphy{
    max-height: 40% ;
    max-width: 40%;
} 
.about-me h2, .work h2, .contact-me h2 {
    margin-bottom: 20px;
    font-size: 40px;
  
}
.work h2 {
    margin-bottom: 10px;
    text-align: center;
}
.contact-me-content {
    justify-items: flex-start;
    align-self: center;
    justify-content: space-around;
    align-content: center;

    
}
.email-adress, .link, .phone-number {
    align-content: center;
    align-self: center;
    justify-content: space-around;
}
 
 

  @media (max-width: 800px) {
    .header div ul li {
        display:block;
        margin-left: 7px;
        
    }
    .header h1{
        font-size:20px;
        display:block
    }
    .about-me h2, .work h2, .contact-me h2 {
        margin-bottom: 10px;
        font-size: 20px;
      
    }
    p {
        font-size: 12px;
    }
    .Youssef-img{  

        padding:2px;
        width: 40px;
        height:30px;
       }
       .header div ul li {
        display:inline-block;
        margin-left: 20px;
        
    }
    .header div {
        
        justify-content: center;
        padding-top: 10px;
        margin-right:14px;
        float:right;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 15px;
    
    
    }


    
  }